@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --primaryblue: #4172C6;
    --darkblue: #094977;
    --lightblue: #2862B3;
    --BGblue: #E9EEF7;
    --white: #fefefe;
    --black: #1b1d20;
    --offwhite: #e9eef7;
    --gray: #7B7B7B;
    --darkgray: #345452;
  }

  .semibold{
    font-weight: 600;
  }

  .medium{
    font-weight: 500;
  }

  .normal{
    font-weight: 400;
  }

  .display-xs{
    font-size: 24px;
    line-height: 32px;
  }

  .display-sm{
    font-size: 30px;
    line-height: 38px;
  }

  .display-md{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }

  .display-lg{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  .text-xl{
    font-size: 20px;
    line-height: 30px;
  }

  .text-md{
    font-size: 16px;
    line-height: 24px;
  }

  .text-sm{
    font-size: 14px;
    line-height: 20px;
  }

  .text-xs{
    font-size: 12px;
    line-height: 18px;
  }

  .ml200{
    margin: 0 11.5vw;
  }

  .center-h{
    margin: 0 auto;
  }
  .capitalize{
    text-transform: capitalize;
  }
  .book-store{
    header{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-bottom: 3em;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;

        .subscribe{
            width: 100%;
        }

        .best-selling,.urdu-books,.ebooks{

            width: 65em;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 32px;
            }

            .cards{
              display: flex;
              gap: 32px;
              justify-content: space-between;
            }

        }

        .shop-next-book{
          width: 65em;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 32px;

          div{
            

            .heading{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 32px;
              margin-bottom: 40px;

          
              .btn-group{
                display: flex;
                gap: 24px;
              }

            }


            .cards{
              display: flex;
              gap: 32px;
              justify-content: space-between;
            }
          }
        }

        .explore-genre{
          max-width: 51.25em;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 38px;
        }

    }
  }