@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --primaryblue: #4172C6;
    --darkblue: #094977;
    --lightblue: #2862B3;
    --BGblue: #E9EEF7;
    --white: #fefefe;
    --black: #1b1d20;
    --offwhite: #e9eef7;
    --gray: #7B7B7B;
    --darkgray: #345452;
  }

.display-semibold-lg{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  .display-semibold-md{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  
  .display-semibold-sm{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .text-semibold-xl{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  .text-normal-md{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .text-medium-md{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .text-medium-xl{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .display-medium-xs{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  .text-medium-xs{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  .text-medium-sm{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .text-primary-blue{
    color: var(--primaryblue);
  }

  .text-gray{
    color: var(--gray);
  }

  .text-dark-blue{
    color: var(--darkblue);
  }

header{
    
    background: url("./Assets/images/header-bg.png") ;
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
    
}

.get-published{
    max-width: 46.6em;
    margin: 0 auto;
    text-align: center;
}         

.get-published .text{
    margin-top: 7.5em;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.get-published .buttons{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 198px;
}

 main .about{
    /* width: 65em; */
    margin: 0 auto;
    /* display: flex;
    gap: 16px; */
    max-width: 65em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
 }

 main .service-cards{
    margin: 0 auto;
    max-width: 65em;
    
 }

 main .service-cards > .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 40px;
 }

 main .service-cards > div{
     margin: 0 auto;
 }

 main .blog, main .pricing{
    max-width: 65em;
    margin: 0 auto;
 }

 main .blog .headings,main .FAQs .headings,main .events .headings,main .pricing .headings{
   display: flex;
   flex-direction: column;
   gap: 32px;
   margin-bottom: 40px;
   text-align: center;
 }

  main .pricing .headings{
    margin-bottom: 60px;
  }

 main .blog .blog-posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
 }

 main .FAQs{
  max-width: 56.25em;
  margin: 0 auto;
 }

main .FAQs .FAQ-posts{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
 }

main .yt{
  max-width: 65em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

main .yt .text span{
  cursor: pointer;
}

main .yt .cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

main .events{
  max-width: 52.125em;
  margin: 0 auto;
}

main .events .event-posts{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  padding-bottom: 40px;
}

main .pricing .pricing-plans{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
}


.centered{
  display: flex;
  justify-content: center ;
  align-items: center;
}