.team{

    display: flex;
    flex-direction: column;
    gap: 2em;

    & > .info{
        max-width: 37.875em;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & .btns{
        display: flex;
        gap: 40px;
        margin: 0 auto;
        margin-top: 20px;
    }

    & > .main-team {
        margin: 0 auto;
        margin-top: 6.875em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    & > .others-team{
        margin: 0 auto;
        margin-top: 6.875em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin-top: 5em;
        margin-bottom: 120px;
    }
}