.team{

    display: flex;
    flex-direction: column;
    gap: 2em;

    & > .info{
        max-width: 37.875em;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & .btns, & > main{
        display: flex;
        gap: 40px;
        margin: 0 auto;
        margin-top: 20px;
    }

    & > .main-team {
        margin-top: 6.875em;
    }

    & > .others-team{
        margin-top: 5em;
        margin-bottom: 120px;
    }
}