@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primaryblue: #4172C6;
    --darkblue: #094977;
    --lightblue: #2862B3;
    --bluegray: #363F72;
    --BGblue: #E9EEF7;
    --blue: #175CD3;
    --white: #fefefe;
    --black: #1b1d20;
    --offwhite: #e9eef7;
    --gray: #7B7B7B;
    --darkgray: #345452;
    --gray100: #f2f7f7;
    --primary200: #D7DFFE;
    --primary300: #BBCBFB;
    --primary400: #92B0F6;
  }
  
  * {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* color: var(--black); */
  }

  a {
    color: inherit; 
    text-decoration: inherit; 
  }

  .hr{
    opacity: 0.2;
    border: 1px solid var(--gray);
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
  }

  .hide{
    display: none;
  }
  
  .button,
  .tag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  
  .button {
    border-radius: 8px;
    /* padding: 15px 50px; */
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .button.medium {
    width: 130px;
    height: 40px;
  }
  
  .button.x-lg {
    width: 180px;
    height: 48px;
  }
  
  .button.default {
    background: var(--darkblue);
    color: var(--white);
  }

  .button.secondary{
    background: #f5f8ff;
    color: var(--darkblue);
  }
  
  .button.outlined {
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
  }

  .button.wide{
    width: 520px;
    height: 58px;
  }

  .italic{
    font-style: italic;
  }

  .semibold{
    font-weight: 600;
  }

  .medium{
    font-weight: 500;
  }

  .normal{
    font-weight: 400;
  }

  .display-xs{
    font-size: 24px;
    line-height: 32px;
  }

  .display-sm{
    font-size: 30px;
    line-height: 38px;
  }

  .display-md{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }

  .display-lg{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  .text-xl{
    font-size: 20px;
    line-height: 30px;
  }

  .text-lg{
    font-size: 18px;
    line-height: 28px;
  }

  .text-md{
    font-size: 16px;
    line-height: 24px;
  }

  .text-sm{
    font-size: 14px;
    line-height: 20px;
  }

  .text-xs{
    font-size: 12px;
    line-height: 18px;
  }
  
  .text-white{
    color: var(--white);
  }

  .text-primary-blue{
    color: var(--primaryblue);
  }

  .text-gray{
    color: var(--gray);
  }

  .text-dark-blue{
    color: var(--darkblue);
  }

  .button.wide.outlined{

    background: var(--white);
    color: var(--darkblue);
    border: 1px solid var(--darkblue);

  }
  
  .page-numbering {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 474px;
    height: 36px;
  }
  
  .page-numbering > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-numbering .prev,
  .page-numbering .next {
  
    width: 88px;
    height: 36px;
  
    background: var(--offwhite);
    border-radius: 4px;
    /* margin: 0px 32px; */
    cursor: pointer;
  }
  
  .page-numbering .pg-num {  
    width: 34px;
    height: 36px;
    background: var(--offwhite);
    border-radius: 4px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    cursor: pointer;
  }
  
  .page-numbering .pg-num.active,
  .tag-btn.active {
    background-color: var(--darkblue);
    color: var(--white);
  }
  
  .tag-btn {
    width: 155px;
    height: 40px;
    border-radius: 36px;
    cursor: pointer;
  }
  
  .tag-btn.default {
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
  }
  
  .slider,
  .slider-btns {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 32px;
  }
  
  .slider .prev,
  .slider .next {
    height: 30px;
    cursor: pointer;
  }
  
  .slider .prev path,
  .slider .next path {
    fill: var(--darkblue);
  }
  
  .slider .slider-btn {
    width: 10px;
    height: 10px;
    background: var(--darkblue);
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider .slider-btn-active {
    width: 24px;
    height: 10px;
    background: var(--darkblue);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .team-main-card .info {
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 32px 24px 24px;
    gap: 40px;
    background: var(--black);
    border-radius: 4px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10.5%;
    bottom: 0%;
    color: var(--white);
    font-weight: 600;

  }

  .team-main-card{
    width: 320px;
    min-height: 476px;
    position: relative;
  }
  
  .team-main-card > img{
    position: absolute;
    left: 61.25%;
    right: 7.5%;
    top: 0%;
    bottom: 78.99%;
    background-color: #787a7c;
    z-index: 1;
    border-radius: 50%;
  }

  .team-main-card .info .title,.team-main-card .info .about{
    font-size: 16px;
    opacity: 0.6;
  }

  .team-main-card .info .title{
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .team-main-card .info .name{
    font-size: 20px;
    margin-bottom: 24px;
  }

  .team-others-card{
    width: 20em;
    background: var(--black);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    border-radius: 0.5em;
  }

  .team-others-card > img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: #787a7c;
    z-index: 1;
    border-radius: 50%;
  }

  .team-others-card .info{
    text-align: center;
  }

  .team-others-card .info .about{
    color: #D0DDDC;
  }

  .team-others-card .info > .text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }


  .info .socials, .info .book-meeting{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }

  .team-others-card .info .socials{
    justify-content: center;
    padding-top: 46px;
  }

  .info .socials img{
    cursor: pointer;
  }

  .info .book-meeting{
    justify-content: center;
    cursor: pointer;
  }
  
  .info .book-meeting h3{
    font-size: 16px;
  }

  .testimonial-main-card{
    display: flex;
    flex-direction: column;
    
    padding: 16px;
    width: 320px;
    background: var(--offwhite);
    border-radius: 4px;
  }

  .testimonial-main-card .customer-info{
    display: flex;
    font-style: italic;
    font-weight: 300;
  }

  .testimonial-main-card img{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #787a7c;
    margin-right: 6px;
  }

  .textual-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px 0px;
  }

  .textual-info h1{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .textual-info h2{
    font-size: 12px;
    line-height: 14px;
  }

  .testimonial-main-card .review{
    display: flex;
    align-items: flex-start;
    gap: 7px;
  }

  .testimonial-main-card .review p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  .blog-post{
    width: 300px;

    display: flex;
    flex-direction: column;
  }

  .blog-post .content h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .blog-post .content p{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .service-card{
    padding: 16px;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  .service-card .main img{
    margin-bottom: 16px;
  }

  .service-card .main .text{
    min-height: 8.25em;
  }

  .service-card .main h3{
    margin-bottom: 16px;
  }
  
  .learn-more {
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  .learn-more h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--darkblue);
  }

  .gap-16{
    gap: 16px;
  }

  .FAQ{
    width: 800px;
    min-height: 40px;
  }

  .FAQ .question{
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
  }

  .FAQ .question p{
    display: flex;
    align-items: center;
  }

  .FAQ .question svg{
    display: block;
    margin: auto 0;
  }

  .FAQ .answer{
    display: flex;
    padding: 16px 16px 16px 52px;
    gap: 16px;
    min-height: fit-content;


    transition: opacity 0.2s linear, margin-top 0.3s step-start;
  }


  .FAQ .answer.hide{
    opacity: 0;
    margin-top: -250px;
    transition-timing-function: linear, step-end, step-end;
  }


  .FAQ .answer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .FAQ .answer .rect{

    width: 2px;
    height: auto;
    background: #094977;
    opacity: 0.4;

  }


  .event-template{
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .event-template section{
    height: inherit;
    margin-right: 99px;
  }

  .event-template .vr{
    width: 4px;
    background-color: var(--darkblue);
  }

  .event-template section .content{
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .event-template .content img{
    background-color: #787a7c;
  }

  .event-template .content .date{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .event-template .content .date-num{
    font-weight: 600;
    font-size: 29px;
    line-height: 24px;
    margin: 2px 0;
  }

  .event-template .text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .event-template .text p{
    font-size: 16px;
    color: #7B7B7B;
  }

  .subscribe-section{
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--BGblue);
  }

  .subscribe-section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subscribe-section .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .subscribe-section .text h3{
    font-weight: 600;
    font-size: 20px;
    color: var(--darkblue);
  }

  .subscribe-section .text p{
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
  }

  .subscribe-section .input{
    display: flex;
    gap: 24px;
  }

  .subscribe-section .input input{
    width: 400px;
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .pricing-template{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E4ECEC;
    border-radius: 16px;
    width: 330px;
  }

  .pricing-template .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 0px;
    gap: 8px;
  }

  .pricing-template .features{
    padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }



  .pricing-template .features li{
    display: flex;
    gap: 12px;
  }

  .pricing-template .features li:not(:last-child) { 
    margin-bottom: 16px;
  }

  .pricing-template .footer{
    padding: 24px 24px 32px 24px;
  }

  .nav-desktop{
    width: 100%;
    height: 134px;
    background-color: var(--white);
  }

  .nav-desktop .upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 150px;
  }

  .logo-sec{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-desktop .lower{
    height: 64px;
  }

  .nav-desktop .search-bar{
    width: 47.6%;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #D0DDDC;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
    gap: 8px;

  }

  .search-bar input{
    width: 100%;
    border: none;
  }

  input:focus{
    outline: none;
  }

  .upper .icon-menu{
    display: flex;
    gap: 16px;
  }

  .nav-desktop .lower{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lower ul{
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: capitalize;
    margin-bottom: 0px;
  }

  .lower ul .nav-link{
    color: var(--darkgray);
  }

  .lower ul a{
    cursor: pointer;
  }

  .lower ul a:hover{
    color: var(--lightblue);
  }

  .lower ul .dropdown{
    display: flex;
    gap: 8px;
  }

  .stats-card, .stats-card li{
    display: flex;
    gap: 40px;
    text-align: center;
  }

  .stats-card{
    background-color: var(--lightblue);
    width:fit-content;
    padding: 24px 32px;
    border-radius: 8px;
  }

  .stats-card li > .info{
    width: 160px;
  }

  .stats-card .num{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--white);
  }

  .stats-card .about{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    /* next property to break each word on sperate line */
    word-spacing: 100vw; 
  }

  .stats-card .vr{
    color: var(--white);
  }

  .rect-column{
    background-color: var(--gray);
  }

  .top-strip{
    width: 100vw;
    background-color: var(--darkblue);
    color: var(--BGblue);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-strip > a{
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  .bread-crumbs,.bread-crumbs .path-item{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--primaryblue);
  }

  .slideshow{
    margin: 0 auto;
    background-color: #c4c4c4;
    height: 17.5em;
    border-radius: 4px;
  }

  .book-card{
    position: relative;
    width: 180px;
  }

  .book-card img{
    height: 240px;
    background-color: var(--gray100);
    margin-bottom: 8px;
    width: 100%;
    border: var(--gray100);
  }

  .book-card .names{
    margin-bottom: 16px;
  }

  .book-card .genre{
    text-transform: capitalize;
    width: 57px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bluegray);
    background: #F8F9FC;
    border-radius: 16px;
  }

  .ebook-tag{
    position: absolute;
    width: 52px;
    height: 22px;
    right: 7.5px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #EFF8FF;
    border-radius: 16px;
    color: #175cd3;
    /* mix-blend-mode: multiply; */
  }

  .feature-sign{
    display: flex;
    gap: 12px;
  }

  .feature-book-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 20px;

    width: 505px;
    height: 270px;
    background: var(--darkblue);
    border-radius: 8px;
    color: var(--white);
  }

  .feature-book-card img{
    width: 172px;
    height: 238px;

    background: #C4C4C4;
    border-radius: 8px;
  }

  .feature-book-card .main{
    width: 281px;
  }

  .feature-book-card .main .text{
    min-height: 176px;
  }

  .main .text > h3{
    margin-bottom: 1em;
  }

  .main .text > p{
    margin-bottom: 0.5em;
  }

  .main .text h4{
    margin-bottom: 14px;
  }

  .CTA{
    width: 505px;
    height: 192px;
    position: relative;
    background-color: #1b1d20;
    border-radius: 8px;
  }

  .CTA .info{

    position: absolute;
    left: 24px;
    top: 24px;

    background: var(--white);
    border-radius: 8px;

    height: 144px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 32px;
  }

  .footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .footer-logos > .logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    mix-blend-mode: luminosity;
    opacity: 0.4;
  }

  .footer .main{
    background-color: var(--darkblue);
    width: 100%;
    height: 473px;
  }

  .footer .main > .info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4em;
    padding: 4em 2em 3em;
  }

  .footer .logos > .info{
    margin-top: 2em;
    color: var(--primary200);
  }

  .footer .info > .links{
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  .footer .info > .logos{
    max-width: 320px;
  }

  .footer hr{
    margin: 0 80px;
    color: var(--primary200);
  }

  .links-column,.links-column .links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    text-transform: capitalize;
    width: 184px;
  }

  .links-column > h4{
    color: var(--primary400);
  }

  .links-column .links{
    padding: 0;
    gap: 12px;
    list-style-type: none;
    color: var(--primary200);
  }

  .links a:hover{
    color: var(--white);
  }

  .footer .copyright{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .copyright .container{
    padding: 0 2em;
    color: var(--primary300);
    display: flex;
    justify-content: space-between;
  }

  .copyright .container .socials{
    display: flex;
    gap: 1.5em;
  }

  .author-subscribe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    padding: 24px;
    /* height: 278px; */
    background: var(--offwhite);
    border-radius: 8px;
  }

  .author-subscribe-section > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .author-subscribe-section .text{
    margin-bottom: 1.5em;
    text-align: center;
  }
  .author-subscribe-section .text > h3{
     margin-bottom: 1em;
  }

  .author-subscribe-section .input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .author-subscribe-section .input input{
    padding: 12px 14px 12px 16px;
    border: none;
    border-radius: 8px;
    width: 382px;
  }

  .author-info{
    width: 1040px;
    display: flex;
    gap: 88px;
  }

  .author-info>img{
    width: 28.8%;
    height: inherit;
  }

  .author-info .text .brief{
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .author-info .details .about{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .author-info .details .links{
    display: flex;
    gap: 1em;
  }

  .job-post{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    min-width: 48em;
  }

  .job-post .text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .job-post .text .title{
    text-transform: capitalize;
  }

  .job-post .text > div{
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .job-post .text > div .type{
    display: flex;
    align-items: center;
    gap: 6px;
    height: 1.5em;
    padding: 2px 10px 2px 8px;
    border-radius: 1em;
    text-transform: capitalize;
  }

  .job-post .text > div .dot{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
  }

  .job-post .design{
    color: var(--blue);
    background-color: #EFF8FF;
  }

  .job-post .design .dot{
    background-color: var(--blue);
  }

  .job-post .writer{
    color: #C11574;
    background-color: #FDF2FA;;
  }

  .job-post .writer .dot{
    background-color: #C11574;
  }

  .job-post .cs{
    color: #027A48;
    background-color: #ECFDF3;
  }

  .job-post .cs .dot{
    background-color: #027A48;
  }

  .job-post .sales{
    color: #3538CD;
    background-color: #EEF4FF;
  }

  .job-post .sales .dot{
    background-color: #3538CD;
  }

  .job-post .marketing{
    color: #C4320A;
    background-color: #FFF6ED;
  }

  .job-post .marketing .dot{
    background-color: #C4320A;
  }

  .job-post .badges{
    display: flex;
    gap: 1.5em;
  }
  .job-post .badges .bdg{
    display: flex;
    gap: 0.5em;
    text-transform: capitalize;
    overflow: hidden;
  }