:root {
    --primaryblue: #4172C6;
    --darkblue: #094977;
    --lightblue: #2862B3;
    --BGblue: #E9EEF7;
    --white: #fefefe;
    --black: #1b1d20;
    --offwhite: #e9eef7;
    --gray: #7B7B7B;
    --darkgray: #345452;
  }
  
  * {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* color: var(--black); */
  }

  a {
    color: inherit; 
    text-decoration: inherit; 
  }

  .hr{
    opacity: 0.2;
    border: 1px solid var(--gray);
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
  }

  .hide{
    display: none;
  }
  
  .button,
  .tag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  
  .button {
    border-radius: 8px;
    /* padding: 15px 50px; */
    cursor: pointer;
  }
  
  .button.medium {
    width: 140px;
    height: 40px;
  }
  
  .button.x-lg {
    width: 180px;
    height: 48px;
  }
  
  .button.default {
    background: var(--darkblue);
    color: var(--white);
  }
  
  .button.outlined {
    border: 1px solid var(--black);
  }

  .button.wide{
    width: 520px;
    height: 58px;
  }

  .display-semibold-lg{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  .display-semibold-md{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  
  .display-semibold-sm{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }


  .text-medium-md{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .text-medium-xl{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .display-medium-xs{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  .text-medium-xs{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  .text-medium-sm{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .text-primary-blue{
    color: var(--primaryblue);
  }

  .text-gray{
    color: var(--gray);
  }

  .text-dark-blue{
    color: var(--darkblue);
  }

  .button.wide.outlined{

    background: var(--white);
    color: var(--darkblue);
    border: 1px solid var(--darkblue);

  }
  
  .page-numbering {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 474px;
    height: 36px;
  }
  
  .page-numbering > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-numbering .prev,
  .page-numbering .next {
  
    width: 88px;
    height: 36px;
  
    background: var(--offwhite);
    border-radius: 4px;
    /* margin: 0px 32px; */
    cursor: pointer;
  }
  
  .page-numbering .pg-num {  
    width: 34px;
    height: 36px;
    background: var(--offwhite);
    border-radius: 4px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    cursor: pointer;
  }
  
  .page-numbering .pg-num.active,
  .tag-btn.active {
    background-color: var(--darkblue);
    color: var(--white);
  }
  
  .tag-btn {
    width: 117px;
    height: 36px;
    border-radius: 36px;
  }
  
  .tag-btn.default {
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
  }
  
  .slider,
  .slider-btns {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 32px;
  }
  
  .slider .prev,
  .slider .next {
    height: 30px;
    cursor: pointer;
  }
  
  .slider .prev path,
  .slider .next path {
    fill: var(--darkblue);
  }
  
  .slider .slider-btn {
    width: 10px;
    height: 10px;
    background: var(--darkblue);
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider .slider-btn-active {
    width: 24px;
    height: 10px;
    background: var(--darkblue);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .team-main-card .info {
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 32px 24px 24px;
    gap: 40px;
    background: var(--black);
    border-radius: 4px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10.5%;
    bottom: 0%;
    color: var(--white);
    font-weight: 600;

  }

  .team-main-card{
    width: 320px;
    min-height: 476px;
    position: relative;
  }
  
  .team-main-card img{
    position: absolute;
    left: 61.25%;
    right: 7.5%;
    top: 0%;
    bottom: 78.99%;
    background-color: #787a7c;
    z-index: 1;
    border-radius: 50%;
  }

  .team-main-card .info .title,.team-main-card .info .about{
    font-size: 16px;
    opacity: 0.6;
  }

  .team-main-card .info .title{
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .team-main-card .info .name{
    font-size: 20px;
    margin-bottom: 24px;
  }


  .info .socials, .info .book-meeting{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }

  .info .socials div{
    cursor: pointer;
  }

  .info .book-meeting{
    justify-content: center;
    cursor: pointer;
  }
  
  .info .book-meeting h3{
    font-size: 16px;
  }

  .testimonial-main-card{
    display: flex;
    flex-direction: column;
    
    padding: 16px;
    width: 320px;
    background: var(--offwhite);
    border-radius: 4px;
  }

  .testimonial-main-card .customer-info{
    display: flex;
    font-style: italic;
    font-weight: 300;
  }

  .testimonial-main-card img{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #787a7c;
    margin-right: 6px;
  }

  .textual-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px 0px;
  }

  .textual-info h1{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .textual-info h2{
    font-size: 12px;
    line-height: 14px;
  }

  .testimonial-main-card .review{
    display: flex;
    align-items: flex-start;
    gap: 7px;
  }

  .testimonial-main-card .review p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  .blog-post{
    width: 300px;

    display: flex;
    flex-direction: column;
  }

  .blog-post .content h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .blog-post .content p{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .service-card{
    padding: 16px;
    width: 260px;
  }

  .service-card .main{
    padding-bottom: 31px;
  }

  .service-card .main img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: #787a7c;
  }

  .service-card .main h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--darkblue);
    margin-bottom: 16px;
  }

  .service-card .main p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    color: var(--black);
  }
  
  .service-card .learn-more {
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  .learn-more h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--darkblue);
  }

  .gap-16{
    gap: 16px;
  }

  .FAQ{
    width: 800px;
    min-height: 40px;
  }

  .FAQ .question{
    display: flex;
    padding: 8px 16px;
    
    cursor: pointer;
  }

  .FAQ .question p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .FAQ .question svg{
    display: block;
    margin: auto 0;
  }

  .FAQ .answer{
    display: flex;
    padding: 16px 16px 16px 52px;
    gap: 16px;
    min-height: 128px;


    transition: opacity 0.2s linear, margin-top 0.3s step-start;
  }


  .FAQ .answer.hide{
    opacity: 0;
    margin-top: -250px;
    transition-timing-function: linear, step-end, step-end;
  }


  .FAQ .answer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .FAQ .answer .rect{

    width: 2px;
    height: auto;
    background: #094977;
    opacity: 0.4;

  }


  .event-template{
    display: flex;
    /* gap: 99px; */
  }

  .event-template section{
    height: inherit;
    margin-right: 99px;
  }

  .event-template .rect-bar{
    height: inherit;
    width: 4px;
    background-color: var(--darkblue);
    margin-right: 24px;
  }

  .event-template section .content{
    display: flex;
    gap: 17px;
  }

  .event-template .content img{
    background-color: #787a7c;
  }

  .event-template .content .date{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .event-template .content .date-num{
    font-weight: 600;
    font-size: 29px;
    line-height: 24px;
    margin: 2px 0;
  }

  .event-template .text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .event-template .text p{
    font-size: 16px;
    color: #7B7B7B;
  }

  .subscribe-section{
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--BGblue);
  }

  .subscribe-section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subscribe-section .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .subscribe-section .text h3{
    font-weight: 600;
    font-size: 20px;
    color: var(--darkblue);
  }

  .subscribe-section .text p{
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
  }

  .subscribe-section .input{
    display: flex;
    gap: 24px;
  }

  .subscribe-section .input input{
    width: 400px;
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .pricing-template{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E4ECEC;
    border-radius: 16px;
    width: 330px;
  }

  .pricing-template .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 0px;
    gap: 8px;
  }

  .pricing-template .features{
    padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }



  .pricing-template .features li{
    display: flex;
    gap: 12px;
  }

  .pricing-template .features li:not(:last-child) { 
    margin-bottom: 16px;
  }

  .pricing-template .footer{
    padding: 24px 24px 32px 24px;
  }

  .nav-desktop{
    width: 100%;
    height: 134px;
  }

  .nav-desktop .upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 200px;
  }

  .upper .logo-sec{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-desktop .lower{
    height: 64px;
  }

  .nav-desktop .search-bar{
    width: 47.6%;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #D0DDDC;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
    gap: 8px;

  }

  .search-bar input{
    width: 100%;
    border: none;
  }

  .search-bar input:focus{
    outline: none;
  }

  .upper .icon-menu{
    display: flex;
    gap: 16px;
  }

  .nav-desktop .lower{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lower ul{
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .lower ul .nav-link{
    color: var(--darkgray);
  }

  .lower ul .dropdown{
    display: flex;
    gap: 8px;
  }

  .stats-card, .stats-card li{
    display: flex;
    gap: 40px;
    text-align: center;
  }

  .stats-card{
    background-color: var(--lightblue);
    width:fit-content;
    padding: 24px 32px;
    border-radius: 8px;
  }

  .stats-card li > .info{
    width: 160px;
  }

  .stats-card .num{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--white);
  }

  .stats-card .about{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    /* next property to break each word on sperate line */
    word-spacing: 100vw; 
  }

  .stats-card .vr{
    color: var(--white);
  }