/* .App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
  } */
  
  .App > * {
    margin-bottom: 3em;
  }
  
  /* body {
    padding: 20px;
  } */
  