/* .App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
  } */
  
  /* .App > * {
    margin: 10px 0;
  } */
  
  /* body {
    padding: 20px;
  } */
  